<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="d-flex justify-content-between">
    <div><%= link_to "Chenchen's list", lists_path, class:"navbar-brand" %></div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= form_tag lists_path, class: 'd-flex', method: :get do %>
          <%= text_field_tag :query, params[:query], class: "form-control mr-2", placeholder: "Find a list"%>
          <%= submit_tag "Search", class: "btn btn-success mr-2" %>
        <% end %>
        <%= link_to "New list", new_list_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</nav>
